body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a:link {
    color: red;
    text-decoration: none
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
